{% import "./components.njk" as components %}

<div class="gallery" id="gallery">
	{# {{ components.projectImage("/projects/testproject.md") }} #}
	
	<div class="gallery-image">
		<img src="https://unsplash.it/600" alt=""/>
	</div>
	<div class="gallery-image tall">
		<img src="https://unsplash.it/600" alt=""/>
	</div>
	<div class="gallery-image tall">
		<img src="https://unsplash.it/600" alt=""/>
	</div>
	<div class="gallery-image wide">
		<img src="https://unsplash.it/600" alt=""/>
	</div>
	<div class="gallery-image tall">
		<img src="https://unsplash.it/600" alt=""/>
	</div>
	<div class="gallery-image wide">
		<img src="https://unsplash.it/600" alt=""/>
	</div>
	<div class="gallery-image">
		<img src="https://unsplash.it/600" alt=""/>
	</div>
</div>