--- 
title: byben 
layout: base.njk 
---

<div class="hero">
  <div class="row height-3">
    <h1>
      Schreinerarbeiten und kreative
      <br/>
      Projekte aller Art.
    </h1>
  </div>
  <div class="row height-2">
    <a class="cta primary align-to-grid" id="button_contact">
      <span>Jetzt Kontakt aufnehmen</span>
      <div class="marker"></div>
      <div class="marker"></div>
      <div class="marker"></div>
      <div class="marker"></div>
    </a>
  </div>
  <div class="row height-1">
    <a class="cta align-to-grid" id="button_learn_more" href="#gallery">Meine Arbeit kennenlernen
      <div class="marker"></div>
      <div class="marker"></div>
      <div class="marker"></div>
      <div class="marker"></div>
    </a>
  </div>
</div>
{% include "gallery.njk" %}